
body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

a{
  color: inherit;
}

h2 {
  margin: 10px 0;
}

.button {
  display: inline-block;
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
}
.button-mini {
  display: inline-block;
  padding: 5px 15px;
  margin: 15px 0;
  border: 1px solid black;
  border-radius: 10px;
}

.widget {
  position: relative;
  min-height: 300px;
  margin: 20px 0;
  padding: 20px;
  background-color: #DDDDDD;
  overflow-x: hidden;

  .content {
    display: inline-block;
    vertical-align: middle;
  }

  .slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    background-color: #DDDDDD;
  }
  .slide::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .slide.current {
    display: inline-block;
  }


  img.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #BBBBBB;
  }

  .user-name {
    padding: 10px 0;
  }

  .links {
    .left {
      display: inline-block;
      text-align: right;
      padding-right: 10px;
      border-right: 1px solid black;
    }
    .right {
      display: inline-block;
      text-align: left;
      padding-left: 10px;
      border-left: 1px solid black;
    }
  }
  
  input.error {
    -webkit-box-shadow: 0 0 5px #AA5555;
    -moz-box-shadow: 0 0 5px #AA5555;
    box-shadow: 0 0 5px #AA5555;
    border: 1px solid #AA5555;
  }
}

#w_1 {
  height: 300px;
  //background-color: #000000;
}


// ANIMATIONS

@keyframes animIn {
  from {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes animOut {
  from {}
  to {
    background-color: #555555;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.anim-in {
  -webkit-animation: animIn 0.6s ease;
  -o-animation: animIn 0.6s ease;
  animation: animIn 0.6s ease;
}

.anim-out {
  -webkit-animation: animOut 0.6s ease;
  -o-animation: animOut 0.6s ease;
  animation: animOut 0.6s ease;
}
