/* line 2, ../sass/style.scss */
body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

/* line 10, ../sass/style.scss */
a {
  color: inherit;
}

/* line 14, ../sass/style.scss */
h2 {
  margin: 10px 0;
  font-weight: 700;
}

/* line 19, ../sass/style.scss */
.button {
  display: none;
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
}

/* line 25, ../sass/style.scss */
.button.current {
  display: inline-block;
}

/* line 29, ../sass/style.scss */
.button-mini {
  display: inline-block;
  padding: 5px 15px;
  margin: 15px 0;
  border: 1px solid black;
  border-radius: 10px;
}

/* line 37, ../sass/style.scss */
.widget-container {
  max-width: 1400px;
  margin: 0 auto;
}

/* line 42, ../sass/style.scss */
.widget {
  position: relative;
  min-height: 300px;
  margin: 20px 0;
  padding: 20px;
  background-color: #DDDDDD;
  overflow-x: hidden;
}
/* line 50, ../sass/style.scss */
.widget .content {
  display: inline-block;
  vertical-align: middle;
}
/* line 55, ../sass/style.scss */
.widget .slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  background-color: #DDDDDD;
}
/* line 65, ../sass/style.scss */
.widget .slide::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 71, ../sass/style.scss */
.widget .slide.current {
  display: inline-block;
}
/* line 76, ../sass/style.scss */
.widget img.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #BBBBBB;
}
/* line 83, ../sass/style.scss */
.widget .user-name {
  padding: 10px 0;
  font-weight: 400;
}
/* line 89, ../sass/style.scss */
.widget .links .left {
  display: inline-block;
  text-align: right;
  padding-right: 10px;
  border-right: 1px solid black;
}
/* line 95, ../sass/style.scss */
.widget .links .right {
  display: inline-block;
  text-align: left;
  padding-left: 10px;
  border-left: 1px solid black;
}
/* line 103, ../sass/style.scss */
.widget input.error {
  -webkit-box-shadow: 0 0 5px #AA5555;
  -moz-box-shadow: 0 0 5px #AA5555;
  box-shadow: 0 0 5px #AA5555;
  border: 1px solid #AA5555;
}

/* line 111, ../sass/style.scss */
#w_1 {
  height: 300px;
}

@keyframes animIn {
  from {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes animOut {
  to {
    background-color: #555555;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
/* line 140, ../sass/style.scss */
.anim-in {
  -webkit-animation: animIn 0.6s ease;
  -o-animation: animIn 0.6s ease;
  animation: animIn 0.6s ease;
}

/* line 146, ../sass/style.scss */
.anim-out {
  -webkit-animation: animOut 0.6s ease;
  -o-animation: animOut 0.6s ease;
  animation: animOut 0.6s ease;
}

@media (min-width: 700px) {
  /* line 155, ../sass/style.scss */
  .widget-grid {
    display: flex;
    flex-direction: row;
  }
  /* line 159, ../sass/style.scss */
  .widget-grid .widget {
    flex-grow: 1;
    width: 45%;
  }

  /* line 165, ../sass/style.scss */
  .widget {
    margin: 10px;
  }
}
