<div class="content">
  <h2>Alarm</h2>

  Hour (0-23) : Mins (0-59)<br/>
  <input id="hour_field" title="hour" type="number" min="0" max="23" placeholder="14"> :
  <input id="minute_field" title="minute" type="number" min="0" max="59" placeholder="30">

  <br/>
  <button class="button mini" onclick="setAlarm()">Set</button>

  <div class="alarm-display" id="alarm_display"></div>
</div>
